<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link id="favicon" rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <title>OpenRSVP - 404 Not Found</title>
    {% include '_bootstrap_css.html' %}
  </head>
  <body>
      {% include '_navbar.html' %}
    <div class="container">
        <h1>404</h1>
        <p>Page Not Found</p>
    </div>
    {% include '_bootstrap_js.html' %}
  </body>
</html>
