<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OpenRSVP</title>
    {% include '_bootstrap_css.html' %}
  </head>

  <body>
    {% include '_navbar.html' %}

    <div class="container mt-5">
        <h1>Welcome, {{ usr.name|default(usr.email)|default(usr.user_id) }}</h1>
        <form action="/user" method="post" class="row">
          <div class="form-group col-md-4">
            <label for="displayName">Display Name:</label>
            <input type="text" class="form-control" id="displayName" name="displayName" value="{{ usr.name|default('') }}">
          </div>
          <div class="form-group col-md-4">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ usr.email|default('') }}">
          </div>
          <div class="form-group col-md-4">
            <label for="cellPhone">Cell Phone:</label>
            <input type="tel" class="form-control" id="cellPhone" name="cellPhone" value="{{ usr.cell_phone|default('') }}">
          </div>
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
    </div>

    {% include '_bootstrap_js.html' %}
  </body>
</html>