<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      id="favicon"
      rel="icon"
      type="image/x-icon"
      href="/static/favicon.ico"
    />
    <title>OpenRSVP - Event Details</title>
    {% include '_bootstrap_css.html' %}
  </head>

  <body>
    {% include '_navbar.html' %}
    <div class="container mt-5">
      {% for event in events %}
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="card-title">
            <a href="{{ request.url_for('root') }}event/{{ event.secret_code }}"
              >{{ event.name }}</a
            >
          </h5>
        </div>
        <div class="card-body">
          <p class="card-text">{{ event.description }}</p>
          <p class="card-text">
            <small class="text-muted"
              >Starts: {{ event.start_datetime | format_timestamp }}</small
            >
          </p>
          {% if event.ends %}
          <p class="card-text">
            <small class="text-muted text-end">Ends: {{ event.ends }}</small>
          </p>
          {% endif %} {% if event.location %}
          <p class="card-text">
            <small class="text-muted text-end"
              >Location: {{ event.location }}</small
            >
          </p>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a
            class="page-link{% if page.current == 1 %} disabled{% endif %}"
            href="{{ request.url_for('events') }}?page=1"
            tabindex="-1"
            >1</a>
        </li>
        <li class="page-item">
          <a
            class="page-link{% if page.current == 1 %} disabled{% endif %}"
            href="{{ request.url_for('events') }}?page={{ page.current - 1 }}"
            tabindex="-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
            </svg>
          </a>
        </li>
        {% if page.current > 2 %}
        <li class="page-item">
          <a
            class="page-link"
            href="{{ request.url_for('events') }}?page={{ page.current - 2 }}">{{ page.current - 2 }}</a>
        </li>
        {% endif %}
        {% if page.current > 1 %}
        <li class="page-item">
          <a
            class="page-link"
            href="{{ request.url_for('events') }}?page={{ page.current - 1 }}">{{ page.current - 1 }}</a>
        </li>
        {% endif %}
        <li class="page-item">
          <a class="page-link disabled" href="#">{{ page.current }}</a>
        </li>
        {% if page.current + 1 <= page.total_pages %}
        <li class="page-item">
          <a
            class="page-link"
            href="{{ request.url_for('events') }}?page={{ page.current + 1 }}">{{ page.current + 1 }}</a>
        </li>
        {% endif %}
        {% if page.current + 2 <= page.total_pages %}
        <li class="page-item">
          <a
            class="page-link"
            href="{{ request.url_for('events') }}?page={{ page.current + 2 }}">{{ page.current + 2 }}</a>
        </li>
        {% endif %}
        <li class="page-item">
          <a
            class="page-link{% if page.current == page.total_pages %} disabled{% endif %}"
            href="{{ request.url_for('events') }}?page={{ page.current + 1 }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
          </a>
        </li>
        <li class="page-item">
          <a
            class="page-link{% if page.current == page.total_pages %} disabled{% endif %}"
            href="{{ request.url_for('events') }}?page={{ page.total_pages }}">{{ page.total_pages }}</a>
        </li>
      </ul>
    </nav>
    {% include '_bootstrap_js.html' %}
  </body>
</html>
