<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OpenRSVP - Event Creation</title>
    {% include 'components/bootstrap_css.html' %}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css"
    />
  </head>

  <body>
    {% include 'components/navbar.html' %}
    <div class="container mt-5">
      <h1 class="mb-4">Create a New Event</h1>
      <form action="{{ request.url_for('create_event') }}" method="POST">
        <div class="row mb-3 startDateTime">
          <div class="col-md-6">
            <label for="start_date" class="form-label">Start Date</label>
            <input
              type="date"
              class="form-control"
              id="start_date"
              name="start_date"
              required
            />
          </div>
          <div class="col-md-6">
            <label for="start_time" class="form-label">Start Time</label>
            <input
              type="time"
              class="form-control"
              id="start_time"
              name="start_time"
              required
            />
          </div>
        </div>
        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#endDateTime"
            aria-expanded="false"
            aria-controls="endDateTime"
          >
            Add End Date/Time
          </button>
        </p>
        <div class="collapse" id="endDateTime">
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="end_date" class="form-label">End Date</label>
              <input
                type="date"
                class="form-control"
                id="end_date"
                name="end_date"
              />
            </div>
            <div class="col-md-6">
              <label for="end_time" class="form-label">End Time</label>
              <input
                type="time"
                class="form-control"
                id="end_time"
                name="end_time"
              />
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="event_name" class="form-label">Event Name</label>
          <input type="text" class="form-control" id="event_name" name="event_name" placeholder="Enter event name" required />

          <label for="event_details" class="form-label">Details</label>
          <textarea class="form-control" id="event_details" name="event_details" placeholder="Enter event details"></textarea>

          <label class="form-label">Event Type</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="event_type" id="virtual" value="virtual">
            <label class="form-check-label" for="virtual">Virtual</label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="event_type" id="in_person" value="in_person" checked>
            <label class="form-check-label" for="in_person">In-person</label>
          </div>

          <div id="url_field">
              <label for="url" class="form-label">URL:</label>
              <input type="text" class="form-control" id="url" name="url" placeholder="Enter URL" pattern="https?://\S+" title="Please enter a valid URL starting with 'http://' or 'https://'">
          </div>

          <div id="location_field">
              <label for="location" class="form-label">What 3 Words Location: <small><br/><a href="https://what3words.com/" target="_blank">(Find a What3Words address)</a></small></label>
              <input type="text" class="form-control" id="location" name="location" placeholder="Enter your What3Words address" pattern="^(\/{3})?[a-zA-Z0-9.]{3,}\.[a-zA-Z0-9.]{3,}\.[a-zA-Z0-9.]{3,}$" title="Please enter a valid What3Words address in the format: word.word.word">
          </div>

        </div>
        <div class="mb-3">
          <label for="secret_code" class="form-label">Secret Link:</label>
          <input
            type="text"
            class="form-control"
            id="secret_code"
            name="secret_code"
            placeholder="Enter secret link"
          />
        </div>
        <button type="submit" class="btn btn-primary">Create Event</button>
      </form>
    </div>

    {% include 'components/bootstrap_js.html' %}
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>
      var simplemde = new SimpleMDE();
      document.addEventListener("DOMContentLoaded", (event) => {
        var collapseElement = document.getElementById("endDateTime");
        collapseElement.addEventListener("hidden.bs.collapse", function () {
          document.getElementById("end_date").value = "";
          document.getElementById("end_time").value = "";
        });
      });
      window.onload = function() {
        document.querySelectorAll('input[name="event_type"]').forEach((elem) => {
          elem.addEventListener("change", function() {
            document.getElementById('location_field').style.display = (this.value == 'virtual') ? 'none' : 'block';
          });
        });
        // Trigger change event on page load to set initial state of location field
        document.querySelector('input[name="event_type"]:checked').dispatchEvent(new Event('change'));
      }
    </script>
  </body>
</html>